.box {
  margin-top: 10px;
  text-align: center;
}

button {
  margin: 10px;
  border-color: blue;
  width: 150px;
}

.button-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  align-items: center;
}
